<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos para acceder a internet -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Fin de Permisos para accede a internet -->

    <!-- Permisos para acceder a la galería y la cámara -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>

    <!--Fin Permisos para acceder a la galería y la cámara -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/prototipoapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/prototipoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Faro"
        tools:targetApi="31">
        <activity
            android:name=".tuto.tutoSemaforo5"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoSemaforo4"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoSemaforo3"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoSemaforo2"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoSemaforo1"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoSemaforo"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoPerfil2"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoPerfil1"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoPerfil"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoMaps6"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoMaps5"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoMaps4"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoMaps3"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoMaps2"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoMaps"
            android:exported="false" />
        <activity
            android:name=".tuto.tutoMaps1"
            android:exported="false" />
        <activity
            android:name=".UserListActivity"
            android:exported="false" />
        <activity
            android:name=".MyApplication"
            android:exported="false" />
        <activity
            android:name=".AgregarSemaforo"
            android:exported="false"
            android:theme="@style/Theme.Faro.NoActionBar" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MapsBufonActivity"
            android:exported="false"
            android:label="@string/title_activity_maps_bufon" />
        <activity
            android:name=".MapsSemaforoActivity"
            android:exported="false"
            android:label="@string/title_activity_maps_semaforo" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Faro.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Faro.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Faro.NoActionBar" />
        <activity
            android:name=".LoginRegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Faro.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Faro.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>